---
layout: default
title: Issues - David Watkins For State Representative
---

<div class="hero-image issues-image">
  <div class="hero-text"><span>Doc's Prescription <br>for Kentucky</span></div>
</div>
{% include socialmedia.html %}
<div id="issues-container">
  <div class="issue-area">
    <div class="issue-card-header"><i class="fa fa-check" aria-hidden="true"></i> Quality Education</div>
    <div class="issue-card"><p>Our teachers and students are doing great things in the classroom, I will work to protect education and our positive momentum. We must invest in our children and grandchildren if we truly care about the future of the Commonwealth. I will continue to fight for our children as I have done serving on the House Education committee as your State Representative. Having worked as an educator at Henderson Community College I know the importance of higher education and we must find ways to reduce the rising cost of college tuition.</p></div>
  </div>
  <div class="issue-area">
    <div class="issue-card-header"><i class="fa fa-check" aria-hidden="true"></i> Good Paying Jobs</div>
    <div class="issue-card"><p>While Kentucky continues to recover from the Great Recession, our economy remains sluggish and wages stagnant. We must support Kentucky businesses that hire Kentucky workers and do all we can to empower working families. We also need to invest further in work force development programs. This year's budget made a step in the right direction but there will still continue to be several businesses in the 11th District that can't find skilled laborers. We need to ensure that our students are ready for whatever path they are called to, whether that is college or a career. We can do this by establishing more "work ready" communities.</p></div>
  </div>
  <div class="issue-area">
    <div class="issue-card-header"><i class="fa fa-check" aria-hidden="true"></i> Improving our Medical System</div>
    <div class="issue-card"><p>As a retired physician, I have seen the needs of our families first hand. I hope to continue to improve our medical system which is why I am honored to serve as Vice Chairman of the Health and Welfare committee of the State House. I will always fight to make sure Kentucky remains a beautiful, healthy place to live and work, not only for us but for our children and grandchildren.</p></div>
  </div>
</div>
{% include cta.html %}
