---
layout: default
title: Meet David - David Watkins For State Representative
---

<div class="hero-image bio-image">
  <div class="hero-text">Meet Dr.&nbsp;David Watkins</div>
</div>
{% include socialmedia.html %}
<div id="bio-text">
  <p>Dr. David Watkins is proud to have served as State Representative for the 11th Legislative District of the Commonwealth of Kentucky since being first elected in 2006.</p>
  <p>He represents Henderson and Daviess counties and currently serves as Vice Chairman of the Health and Welfare committee of the State House. Dr. Watkins has been known as a strong advocate for quality education and good paying jobs for all Kentuckians. He also serves on the House Education committee where he’s been a voice for our teachers and students. Prior to venturing into public service, he had the privilege of serving as a full-time physician for over 35 years in Henderson where he helped to found the Mom’s Clinic for our most needy citizens. On many evenings, Dr. Watkins can still be found working at the Mom’s Clinic looking after the health of Hendersonians.</p>
  <p>Dr. Watkins and his wife, Peggy, raised three sons and are blessed with five grandchildren. They are natives of Henderson where they have lived since graduating from college. Dr. Watkins attended Western Kentucky University and taught at the Henderson Community College before venturing into medicine and attending the University of Louisville School of Medicine.</p>
  <p>In addition to the many pieces of legislation Representative Watkins has sponsored that were enacted into law, he has been responsible for directing several million dollars of state funds to education and infrastructure projects in the 11th District. Join Representative Watkins’ campaign today to ensure that he can continue his fight to keep Kentucky a beautiful, healthy place to live and work!</p>
</div>
{% include cta.html %}
