<footer>
	<div class="container">
		<a href="index.html"><img src="/assets/img/DocWatkinsLogoDark.png" id="footer-logo"></a>
		<br>
		<div class="footer-links">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="/meetdavid.html">Meet David</a></li>
				<li><a href="/issues.html">Issues</a></li>
				<li><a href="/volunteer.html">Get Involved</a></li>
				<li><a href="https://secure.actblue.com/contribute/page/watkinsforstaterep">Contribute</a></li>
			</ul>
		</div>
		<div class="footer-contacts">
			1280 Taransay Drive, Henderson, KY 42420
		</div>
		<div id="paidfor">Paid for by David Watkins for State&nbsp;Representative <br>Peggy Watkins, Treasurer</div>
	</div>
</footer>
