<header role="banner">
		<div class="logo">
			<a href="/index.html"><img src="/assets/img/DocWatkinsLogo.jpg" class="logoimg"></a>
	    <a href="#" id="mobile-menu-button"><i class='fa fa-2x fa-bars'></i></a>
		</div>
		<nav id="navbar">
			<ul id="nav-menu" class="nav-menu show">
				<li class="nav-link"><a href="/meetdavid.html">meet david</a></li>
				<li class="nav-link"><a href="/issues.html">issues</a></li>
				<li class="nav-link"><a href="/volunteer.html">volunteer</a></li>
				<li class="nav-link"><a href="https://www.facebook.com/RepDavidWatkins"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li class="nav-link"><a href="https://twitter.com/repdavidwatkins"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li class="nav-link"><a href="https://secure.actblue.com/contribute/page/watkinsforstaterep" id="donate">contribute</a></li>
			</ul>
		</nav>
		<script type="text/javascript" src="/assets/js/navbarToggle.js"></script>
</header>
